<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Edit Island</title>
</head>
<body>
  <form action="/islands/<%= island._id%>?_method=PUT" method="POST">
    <div>
      <label for="title">Title</label>
      <input type="text" id="title" name="island[title]" value="<%=island.title%>">
    </div>
    <div>
      <label for="location">Location</label>
      <input type="text" id="location" name="island[location]" value="<%=island.location%>">
    </div>
    <button>Update Island</button>
  </form>
  <a href="/islands/<%= island._id  %>">Back to island</a>
  
</body>
</html>