<% layout('./layouts/boilerplate') %> 
<div id="map" style="width: 100%; height: 500px; margin-top: 3rem;"></div>
  <h1>All Islands</h1>
    <ul>
      <% for (let island of islands) { %> 
        <li><a href="/islands/<%= island._id %>"><%= island.title %></a> </li>
        <% } %> 
    </ul>

    <a href="/islands/new">Add New Island</a>
</body>
<script>
const mapToken = '<%-process.env.MAPBOX_TOKEN %>';
const islands = {features: <%- JSON.stringify(islands) %>}

</script>
<script src="/scripts/clusterMap.js"></script>
</html>