<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>All Islands</title>
</head>
<body>
  <h1>All Islands</h1>
    <ul>
      <% for (let island of islands) { %> 
        <li><a href="/islands/<%= island._id %>"><%= island.title %></a> </li>
        <% } %> 
    </ul>
</body>
</html>