<% layout('./layouts/boilerplate') %> 
  <h1>All Islands</h1>
    <ul>
      <% for (let island of islands) { %> 
        <li><a href="/islands/<%= island._id %>"><%= island.title %></a> </li>
        <% } %> 
    </ul>

    <a href="/islands/new">Add New Island</a>
</body>
</html>