<head><link rel="stylesheet" href="/styles/style.css"></head>
<nav class="navbar1">
  <div class="container1 flex">
    <div class="nav-links-2">
        <a href="#" id="navbar-brand">Island Lyfe</a>
        <a href="/home">Home</a>
        <a href="/islands">Islands</a>
        <a href="/islands/new">New Island</a>
    </div>
    <div class="nav-links-3">
      <!-- if !currentUser ejs to display one or the other -->
      <% if(!currentUser) { %>
        <a href="/login">Login</a>
        <a href="/register">Sign Up</a>
    <% } else { %>
      <a href="/logout">Logout</a>
    <% } %> 
      
    </div>
  </div>
</nav>