*, *::before, *::after {
  box-sizing: border-box;
}

.index-title {
  text-align: center;
  font-family: "Kaushan Script", cursive, sans-serif;
  font-size: 3rem;
  padding-top: 1rem;
}

.flexbox-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  /* flex-direction: column; */
}

.card {
  display: inline-block;
  color: white;
  /* background-image: url('https://res.cloudinary.com/siracha/image/upload/v1653169033/YelpCamp/ucwmhbo7yrhcxbvwtjgm.jpg'); */
  background-size: cover;
  padding-top: 10rem;
  border-radius: 2%;
  overflow: hidden;
  max-width: 45ch;
  min-width: 45ch;
  /* max-height: 40vh; */
  margin-bottom: 1rem;
}

.card-content {
  background: linear-gradient(hsl(0 0% 0% / .3), hsl(0 0% 0% / 1));
  padding-left: 1rem;
  padding-right: 1rem;
  min-height: 100%;
}

.card-title {
  position: relative;
  width: max-content;
  max-width: 100%;
}

.card-title::after {
  content: "";
  position: absolute;
  height: 3px;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgb(209, 223, 250);
}

.cardbody {
  min-height: 7ch;
}

.button {
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  color: hsl(207, 19%, 9%);
  background-color: #00d4ff;
  padding: .2rem .8rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

@media (max-width: 54.5rem) {
  * {
    overflow-x: hidden;
  }
  .card {
    padding: 8rem 0 0 0;
  }
  .card-content {
    text-align: center;
  }
  .card-title {
    margin: 0 auto;
  }
  .cardbody {
    padding: 0 2rem;
  }
}