footer {
  text-align: center;
  padding-bottom: 5rem;
}

footer  a {
  font-size: 1.5rem;
}

h3 span {
  font-style: italic;
}

.mtop {
  margin-top: 2rem;
}

.island-profile {
  max-width: 50vw;
  display: inline-block;
  padding-left: 2rem;
}

.island-review {

  margin-left: 5rem;
  display: inline-block;
  padding: 2rem;
  vertical-align: top;
  
}

.review-display {
  /* align-self: start; */
  margin-right: 2rem;
  border: 2px solid black;
}
#map {
  max-width: 50vw; 
  height: 300px;
  margin-bottom: 1rem;
}

@media (max-width: 54.5rem) {
  .island-profile {
    max-width: 100%;
    padding: 1rem;
  }
  .island-review {
    display: block;
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    margin: auto;
  }
  .starability-checkmark {
    display: inline;
  }
  #map {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}