footer {
  text-align: center;
  padding-bottom: 5rem;
}

footer  a {
  font-size: 1.5rem;
}

h3 span {
  font-style: italic;
}

.mtop {
  margin-top: 2rem;
}

.carousel-inner > .carousel-item > img{
  height: 350px;
}

.island-profile {
  max-width: 50vw;
  /* display: inline-block; */
  padding-left: 2rem;
  margin: 0 auto;
}

.island-review {
  margin: 0 14rem;
  padding: 2rem;
}
.island-review > h2 {
  text-align: center;
}

.card {
  text-align: center;
}
.card-title {
  text-align: center;
}

.review-display {
  /* margin: 2rem 5rem; */
  margin: 2rem 10rem;
  border: 2px solid black;
}

fieldset.starability-checkmark {
  margin: 0 auto;

}
p.starability-result {
  margin: 1rem auto;
}
#map {
  max-width: 50vw; 
  height: 300px;
  margin-bottom: 1rem;
}

@media (max-width: 54.5rem) {
  .island-profile {
    max-width: 100%;
    padding: 1rem;
  }
  .island-review {
    display: block;
    /* margin: 0 auto; */
    text-align: center;
    padding: 1rem;
    margin: auto;
  }
  .review-display {
    max-width: 100%;
    margin: 2rem 3rem;
  }
 .carousel-inner {
   width: 100%;
   max-height: 350px;
 }
  .starability-checkmark {
    display: inline;
    margin: 0;
  }
  .card-body {
    text-align: center;
    align-self: center;
  }
  #map {
    max-width: 100%;
    margin-bottom: 1rem;
  }
}