@import url('https://fonts.googleapis.com/css2?family=Smooch&display=swap');

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  /* overflow: hidden; This created scrolling problems on main page so taking it out for now */ 
  scrollbar-width: none;
  overflow: hidden;
}

img {
  max-height: 50vh;
}

.flex {
  display: flex;
}
.container1 {
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  align-items: center;
}

.container::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}

.navbar1 {
  background: radial-gradient(#090979, #00d4ff);
  margin-bottom: 1rem;
}
.nav-links-2 a, .nav-links-3 a{
  text-decoration: none;
  display: inline-block;
  color: white;
  padding: 1rem;
  font-weight: 700;
  transition: transform 200ms ease-in-out;
}

.nav-links-2 a:hover, .nav-links-3 a:hover {
  transform: scale(1.1) translate(-5px, -5px);  /* need to include on one line or one transform property will overwrite the other
  /* transform: translate(-5px, -5px); */
}

.nav-links-2 a:first-child:hover {
  transform: none;
}

.landing-page {
  background: url('../assets/green-island.jpg') no-repeat center;
  background-size: cover;
  width: 100%;
  
  height: 100vh;
  overflow: visible;
  /* width: 100vw; */
  flex-direction: column;
  /* justify-content: baseline; */
  align-items: center;
  row-gap: 18rem;
}

.landing-page h1 {
  font-family: "Kaushan Script", cursive, sans-serif;
  font-size: 3rem;
}

.island-button {
  font-size: 4rem;
  font-family: "Kaushan Script", cursive, sans-serif;
  margin-right: 100px;
  padding: 1rem 1rem 1rem 1rem;
  border-radius: 1.875rem;  
  background-color: transparent;
  /* background: linear-gradient(to bottom, #6d2dfd, #22c1c3); */
  border: none;
  opacity: .7;
  transition: opacity,color,transform 200ms ease-in-out;
}

.island-button a {
  text-decoration: none;
  color: white;
}

.island-button:hover {
  cursor: pointer;
  opacity: 1;
  color: white;
  transform: scale(1.1) translateX(-15px) translateY(-15px);
}

#navbar-brand {
  font-family: "Smooch", sans-serif;
  font-size: 2rem;
  text-align: left;
  font-weight: 700;
  color: white;
}