<% layout('layouts/boilerplate') %> 
<h1>Login</h1>
<form action="/login" method="POST" class="validated-form" novalidate>
  <div class="mb-3 col-6">
    <label for="username" class="form-label">Username</label>
    <input class="form-control" type="text" id="username" name="username" required>
  </div>
  <div class="mb-3 col-6">
    <label for="password" class="form-label">Password</label>
    <input class="form-control" type="password" id="password" name="password" required>
  </div>
  <button class="btn btn-success">Login</button>
</form>